/* ABOUT PAGE */
#about_section_1 .about{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: left;
    color:#1AC664;
}
#about_section_1 .one{
    font-family: Montserrat;
  font-size: 54px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  
}
#about_section_1{
    background: #01813B;
    color:white
}
#about_section-1{
    background-image: url(Images/Fuji\ NXTII\ 1.jpg);
    height: 900px;
    background-size: cover;
}
 #about_section-1 .background{
    bottom: 0%;
    background: #01813BD9;
}
#about_section-1 .pos{
    top: 40%;
    right: 3%;
}
#about_section-1 .font{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: left;
}
#about_section-1 .two{
    font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.35em;
  text-align: left;
  color: #FFFFFF;
}
#about_section-1 .three{
    font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color:#FFFFFF
}
#about_section-2 {
    background-color: #E3E3E3;
    background-size: cover;
} 
#about_section-2 #head h6{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: center;    
    color: #2D2D2D;    
}
#about_section-2 #head h5{
    font-family: 'Montserrat',sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;    
    color: #2D2D2D;    
}
#about_section-2 #row h6 {
    font-family:'Montserrat',sans-serif;
    font-size: 81px;
    font-weight: 700;
    line-height: 113px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}
#about_section-2 #row p {
    font-family:'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: center;
    color: #FFFFFF;    
}
#about_section-2 .color1{
        background-color: #01813B;
        height: 198px;
}
#about_section-2 .color2{
    background-color: #01813B;
    height: 198px;
} 
#about_section-2 .color3{
    background-color: #01813B;
    height: 198px;
} 
#about_section-3 #head .driving-force{
    font-family:'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: center;
    color: #000000;    
} 
#about_section-3 #head .team{
    font-family: 'Montserrat',sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}
#about_section-3 .row .name {
    font-family: 'Montserrat',sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;    
    color: #000000;    
} 
#about_section-3 .row .designation{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #00923F;    
}
#about_section-3 .board-members-content{
    color: rgb(79, 79, 79) !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 22px; 
    margin-block-end: 16px;
    margin-bottom: 16px;
    padding-top: 11.2px;
    pointer-events: auto;
    text-align: start;
}
#about_section-3 .board-members-content{
    color: rgb(79, 79, 79) !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    font-weight:400 !important;
    line-height: 22px !important; 
    margin-block-end: 16px;
    margin-bottom: 16px;
    padding-top: 11.2px;
  
    text-align: start !important;
}
#about_section-3 .board-semhead{
    color: #39f !important;
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    line-height: 24px;
    pointer-events: auto;
    text-align: start !important;
    text-size-adjust: 100%;
}
#about_section-3 .board-head {
    font-size: 36px !important;
    color: #4f4f4f !important;
    font-family: 'Roboto', sans-serif !important;
    text-align: start !important;
    font-weight: 400;
    line-height: 54px;
}
#about_section-3 .member-designation-popup {
    font-size: 18px !important;
    color: #828282 !important;
    font-family: 'Roboto', sans-serif !important;
    text-align: start !important;
}
#about_section-3 .demo{
    height: 2px;
}
#about_section-3 .demo1{
    background-color:green;
    bottom:0%;
    left:0%;
    right:0%;
}
#about_section-3 .demo2{
    z-index:-1;
}
#about_section-3 .demo3{
    height:2px;
}
#about_section-3 .demo4{
    background-color:green;
    bottom:0%;
    left:0%;
    right:0%;
}
#about_section-3 .demo5{
    bottom: 10%;
    right:2%;
    height:170px;
}
#about_section-4 .head h6{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: left;
    color: #FFFFFF;
}
#about_section-4 .head h5{
    font-family: 'Montserrat',sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
#about_section-4 .row p{
    font-family: 'Montserrat',sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;    
    color: #FFFFFF;
}
#about_section-4{
    background-image: url('Images/DJI_0756\ 1.png');
    background-size:cover;
}
#about_section-4 .demo7{
    background-color: #01642EB0;
    height:100%;
    width:100%;
}
#about_section-4 .demo8{
    margin-top:100px !important; 
}
#about_section-5 .head h6{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: left;
    color: #056732;
}
#about_section-5 .row ul li{
    font-family:'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color:#2D2D2D;
}  
#about_section-5 .demo9{
    bottom:5%;
    right:2%;
    height:170px;
}  
#about_section-6  .advantages{
    font-family:'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: center;
    color: #000;
    
}
#about_section-6  .sez{
    font-family:'Montserrat',sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
}
#about_section-6 .row p{
    padding: 40px 30px;
    font-family:'Montserrat',sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
#about_section-6 .colo{
    color:rgba(0, 169, 77, 1);
}
#about_section-6 .demo10{
    height: 800px;
}
#about_section-6 .demo11{
    top: 50%;
    left: 40%;
}
#about_section-6 .demo12{
    left: 0%;
}
#about_section-6 .demo13{
    left: 6.7%;
    top: 5.7%;
}
#about_section-6 .demo14{
    left: 12.5%;
    top: 12%;
}
#about_section-6 .demo15{
    top: 35%;
    left:15%
}
#about_section-6 .demo16{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}
#about_section-6 .demo17{
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}
#about_section-6 .demo18{
    top: 80%;
    left: 80%;
}
#about_section-6 .demo19{
    width: 470px; 
}
#about_section-6 .demo20{
    bottom:-60%;
    right: 80%;
}
#about_section-6 .demo21{
    left: -90%;
    width:235px; 
}
#about_section-6 .demo22{
    top:50%;
    right:100%;
}
#about_section-6 .demo23{
    left: -280%;
    top: -10%;
    width: 310px;
}
#about_section-6 .demo24{
    top:50%; left: 100%;
}
#about_section-6 .demo25{
    left: 120%; top: -10%; width: 310px;
}
#about_section-6 .demo26{
    top:-190%; left: 50%;
}
#about_section-6 .demo27{
    top:-20%; left: -60%;
}
#about_section-6 .demo28{
    right:118%; top: -30%; width: 310px;
}
#about_section-6 .demo29{
    top:-20%; left: 80%;
}
#about_section-6 .demo30{
    left: 120%; top: -20%; width: 310px;  
}
#about_section-6 .demo31{
    top:-120%; right: 70%;
}
#about_section-6 .demo32{
    width: 219px; height: 129.04px;
}
#about_section-6 .demo33{
    top: 30%;right: 10%; width: 144px;
    color: #FFFFFF;
}
#about_section-6 .demo34{
    top:30%; right:110%;  width: 235px;
}
#about_section-6 .demo35{
    top:-120%; left: 70%;
}
#about_section-6 .demo36{
    width: 219px; height: 129.04px;
}
#about_section-6 .demo37{
    top: 30%;left: 10%; width: 144px;
    color: #FFFFFF;
}
#about_section-6 .demo38{
    top:30%; left: 110%;   width: 235px;
}
#about_section-6 .demo39{
    top:-200%; left: -370%; width: 600px;
}
#about_section-6 .demo40{
    color: #00923F;
}
#about_section-6 .demo41{
    top:-200%; left: 70%; width:600px;
}
#about_section-6 .demo42{
    color: #00923F;
}
#about_section-6 .demo43{
    height:100%;  background:  #01813B;
}
#about_section-6 .demo44{
    height:100%; background-color:  #01813B;
}
#about_section-6 .demo45{
    height:100%;  background-color:  #01813B;
}  
#about_section-7 {
    position: relative;
  
  
    background-repeat: repeat;
    background-image: url('Images/IMG_20190326_125922\ 2.png');
} 
#about_section-7::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-color: #01813B;
    z-index: -1;
} 
#about_section-7::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    z-index: -1;
}
#about_section-7 .certification {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  
    letter-spacing: 0.35em;
    text-align: left;
    color: #FFFFFF;
}
#about_section-7 .recognition {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
  
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
  
  
}
#about_section-7 .certified {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
  
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
  
}
#about_section-8 .zero{
    border-radius: 0%;
}
#about_section-8 .zero1{
    border-radius: 0%; height: 110px;
}
#about_section-8 .demo53{
    background: #F5F5F5;
}
#about_section-8 .our{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: center;
    color: #1AC664;
  
}
#about_section-8 .growth{
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: #2D2D2D;
  
}
#about_section-8 .base{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #5A5959;
  
}
#about_section-8 .all{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #5A5959;
  
}
#about_section_10.demo54{
    color: #1AC664;
    background-color: #000000;
}
#about_section_10 .news{
    font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.35em;
  text-align: left;
  color:#056732;
  
}
#about_section_10 .annual{
    font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color:#2D2D2D
}
#about_section_10 .annua{
    font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color:#2D2D2D
}
#about_section_10 .times{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #00923F;    
  
}
#about_section_10 .get{
    width: 175px;
  height: 52px;
  top: 10235px;
  left: 1565px;
  color: #00923F;
}
#about_section_10 .src{
    width: 350px;
    height: 244px;
    top: 9719px;
    left: 240px;
}

/* CONTACT PAGE */
#contact_section_1 .about{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: left;
    color:#1AC664;
}
#contact_section_1 .one{
    font-family: Montserrat;
  font-size: 54px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  
}
  
#contact_section_1{
    background: #01813B;
    color:white
}
#contact_section-1 .thirdpage-sec2-row1-head {
    color: #2D2D2D;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 49.5px */
}
#contact_section-1 .thirdpage-sec2-row1-decs {
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
color: #4D4D4D;
}
#contact_section-2 .page3-section3-heading {
    color: #2D2D2D;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 49.5px */
}
#contact_section-3 .advantages{
    font-family:'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: center;
    color: #000;
    
}
#contact_section-3  .sez{
    font-family:'Montserrat',sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
}
#contact_section-3 .row p{
    padding: 40px 30px;
    font-family:'Montserrat',sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
#contact_section-3 .colo{
    color:rgba(0, 169, 77, 1);
}
#contact_section-3 .demo10{
    height: 800px;
}
#contact_section-3 .demo11{
    top: 50%;
    left: 40%;
}
#contact_section-3 .demo12{
    left: 0%;
}
#contact_section-3 .demo13{
    left: 6.7%;
    top: 5.7%;
}
#contact_section-3 .demo14{
    left: 12.5%;
    top: 12%;
}
#contact_section-3 .demo15{
    top: 35%;
    left:15%
}
#contact_section-3 .demo16{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}
#contact_section-3 .demo17{
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}
#contact_section-3 .demo18{
    top: 80%;
    left: 80%;
}
#contact_section-3 .demo19{
    width: 470px; 
}
#contact_section-3 .demo20{
    bottom:-60%;
    right: 80%;
}
#contact_section-3 .demo21{
    left: -90%;
    width:235px; 
}
#contact_section-3 .demo22{
    top:50%;
    right:100%;
}
#contact_section-3 .demo23{
    left: -280%;
    top: -10%;
    width: 310px;
}
#contact_section-3 .demo24{
    top:50%; left: 100%;
}
#contact_section-3 .demo25{
    left: 120%; top: -10%; width: 310px;
}
#contact_section-3 .demo26{
    top:-190%; left: 50%;
}
#contact_section-3 .demo27{
    top:-20%; left: -60%;
}
#contact_section-3 .demo28{
    right:118%; top: -30%; width: 310px;
}
#contact_section-3 .demo29{
    top:-20%; left: 80%;
}
#contact_section-3 .demo30{
    left: 120%; top: -20%; width: 310px;  
}
#contact_section-3 .demo31{
    top:-120%; right: 70%;
}
#contact_section-3 .demo32{
    width: 219px; height: 129.04px;
}
#contact_section-3 .demo33{
    top: 30%;right: 10%; width: 144px;
    color: #FFFFFF;
}
#contact_section-3 .demo34{
    top:30%; right:110%;  width: 235px;
}
#contact_section-3 .demo35{
    top:-120%; left: 70%;
}
#contact_section-3 .demo36{
    width: 219px; height: 129.04px;
}
#contact_section-3 .demo37{
    top: 30%;left: 10%; width: 144px;
    color: #FFFFFF;
}
#contact_section-3 .demo38{
    top:30%; left: 110%;   width: 235px;
}
#contact_section-3 .demo39{
    top:-200%; left: -370%; width: 600px;
}
#contact_section-3 .demo40{
    color: #00923F;
}
#contact_section-3 .demo41{
    top:-200%; left: 70%; width:600px;
}
#contact_section-3 .demo42{
    color: #00923F;
}
#contact_section-3 .demo43{
    height:100%;  background:  #01813B;
}
#contact_section-3 .demo44{
    height:100%; background-color:  #01813B;
}
#contact_section-3 .demo45{
    height:100%;  background-color:  #01813B;
}
#contact_section-4 .zero{
    border-radius: 0%;
}
#contact_section-4 .zero1{
    border-radius: 0%; height: 110px;
}
#contact_section-4 .demo53{
    background: #F5F5F5;
}
#contact_section-4 .our{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: center;
    color: #1AC664;
  
}
#contact_section-4 .growth{
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: #2D2D2D;
  
}
#contact_section-4 .base{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #5A5959;
  
}
#contact_section-4 .all{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #5A5959;
  
}
#contact_section_5 .demo54{
    color: #1AC664;
    background-color: #000000;
}
#contact_section_5 .news{
    font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.35em;
  text-align: left;
  color:#056732;
  
}
#contact_section_5 .annual{
    font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color:#2D2D2D
}
#contact_section_5 .annua{
    font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color:#2D2D2D
}
#contact_section_5 .times{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #00923F;    
  
}
#contact_section_5 .get{
    width: 175px;
  height: 52px;
  top: 10235px;
  left: 1565px;
  color: #00923F;
}
#contact_section_5 .src{
    width: 350px;
    height: 244px;
    top: 9719px;
    left: 240px;
}

/* CUSTOMER LOGIN */
/* CUSTOMER LOGIN */
#customer_section_1{
    background: #01813B;
  }
  #customer_section_1 .heading1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.35em;
    text-align: left;
    color: #1AC664;
  }
  
  #customer_section_1 .main-heading {
    font-size: 54px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    color: #F8FFFB;
  }
  .customer-login #customer_section-2{
    background-image: url(Images/login-page.jpg);
    background-size: cover;
  }
  
  .customer-login #customer_section-2 .ground{
    width: 100%;background: rgba(1, 129, 59, 0.95);
  }
  .customer-login #customer_section-2 #exampleFormControlInput1 .bord{
    height: 45px; border-radius :0%;
  }
  .customer-login #customer_section-2 .but{
    height: 45px; background-color: rgba(209, 209, 209, 1);
  }
  .customer-login #customer_section-2 .login-head{
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(231, 231, 231, 0.959);
  
  }
  .customer-login #customer_section-2 .grp{
    top: 40%; right: 3%;
  }
  .customer-login #customer_section-2 .login-des{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(218, 216, 216, 0.925);
  }
  .customer-login ::-webkit-input-placeholder {
    text-align: center;
  }
  
  .customer-login #customer_section-2 .username{
    font-family:'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .customer-login #customer_section-2 .username span{
    color: rgba(255, 0, 0, 1);
  }
  .customer-login #customer_section-2 .remeber{
    font-family:'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .customer-login #customer_section-2 .login{
    font-family:'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
  }
  